body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-container {
  width: 80%; /* Adjust as needed */
  max-width: 600px; /* Adjust as needed */
  margin: 20px auto; /* Center the container */
  padding: 20px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background */
}

.app-container p {
  /* Style the <p> elements */
  text-align: center;
  margin-bottom: 10px;
}

.workout-list ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
}

.workout-list li {
  padding: 10px;
  border-bottom: 1px solid #eee; /* Add separators between items */
}

.workout-form label {
  font-weight: bold;
  margin-bottom: 5px; /* Add margin below labels */
}

.workout-form input,
.workout-form button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; /* Add margin below inputs and button */
}

/* Styles for larger screens (desktop) */
.app-container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Styles for smaller screens (mobile) */
@media (max-width: 480px) {
  /* Adjust breakpoint as needed */
  .app-container {
    width: 95%; /* Make the container almost full-width */
    max-width: none; /* Remove max-width */
    margin: 10px auto; /* Reduce margin */
    padding: 10px; /* Reduce padding */
  }

  .workout-form {
    padding: 10px; /* Reduce form padding */
  }

  /* You might want to adjust font sizes, input sizes, etc. here */
  .workout-form label {
    font-size: 1rem; /* Adjust font size */
  }
  .workout-form input,
  .workout-form button {
    font-size: 1rem; /* Adjust font size */
    padding: 10px; /* Adjust padding */
  }
}

.workout-form button {
  background-color: #54a644; /* Orange/amber color */
  color: white;
  border: none;
  padding: 8px 16px; /* Adjust padding as needed */
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px; /* Add some top margin */
}


.clear-data-button {
  background-color: #f0ad4e; /* Orange/amber color */
  color: white;
  border: none;
  padding: 8px 16px; /* Adjust padding as needed */
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px; /* Add some top margin */
}

.clear-data-button:hover {
  background-color: #e09f3b; /* Darker orange on hover */
}